
html, body {

    margin:0;
    padding:0;
    background-color: rgb(219, 246, 246)
  
   
    
    }
.btns{
    font-size: small;
}
#root {
  
    height: 100vh;
}
.chart-container{
    height: 50%;

}
.main-col-1{
  
    
 
   
}

.main-col-2{
   
    height: 75vh;
 
}
.delete-button {
    color:red;
    background-color: white;
    
    border:none
   
    
    
}
.delete-button:hover{
    font-size: 120%;
}

.display-text{
    font-size: small;

}
.number-text{
    font-size: smaller;
}
.box-1{
    padding:4%;
    text-align: center;
    background-color:rgba(75, 192, 192, 0.2) ;
    border: solid 1px rgba(75, 192,192,0.2)

}
.box-2{
    padding:3%;
    text-align: center;
    background-color: rgba(255, 99, 132, 0.2);
    border: solid 1px rgba(255, 99, 132, 0.2)
    
}
.box-3{
    padding:3%;
    text-align: center;
    background-color: rgba(255, 205, 86, 0.2);
    border: solid 1px rgba(255, 205, 86, 0.2)
    
}

