
html, body {

    margin:0;
    padding:0;
    background-color:#F5EDF0 ;
    }
.btns{
    font-size: small;
    color:white;
    width: 30%;
    background-color: #1C5D99;
    
}
.reg-btns {
    font-size: small;
    color:white;
    width: 30%;
    background-color: #1C5D99;
    

}
#root {
    margin:0;
    background-color: #F3E9D2;
  
    height: 100vh;
}
.layout-container{
    background-color: #114b5f;
}

.con-1 {
    max-height:35vh;
    overflow-y: auto;
    overflow-x: hidden;
}






.chart-container{
    height: 50%;

}
.main-col-1{
  
    
 
   
}


.main-col-2{
   
    height: 75vh;
 
}
.delete-button {
    color:red;
    background-color: #F3E9D2;

    
    border:none
   
    
    
}
.app-inputs {
    background-color: lightgray;
}
.error-messages {
    color: red;
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.delete-button:hover{
    font-size: 120%;
}

.display-text{
    font-size: small;

}
.number-text{
    font-size: smaller;
}
.box-1{
    padding:4%;
    text-align: center;
    background-color:rgba(75, 192, 192, 0.2) ;
    border: solid 2px rgba(75, 192,192,0.2)

}
.box-2{
    padding:4%;
    text-align: center;
    background-color: rgba(255, 99, 132, 0.2);
    border: solid 2px rgba(255, 99, 132, 0.2)
    
}
.box-3{
    padding:4%;
    text-align: center;
    background-color: rgba(255, 205, 86, 0.2);
    border: solid 2px rgba(255, 205, 86, 0.2)
    
}
.toast-body{
    background-color: white;

   
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
   
  }
.spin{
    color:black;
}