
html, body {

    margin:0;
    padding:0;
    background-color:#E0E0E2;
    }
.btns{
    font-size: small;
    color:black;
    width: 50%;
    background-color: #3DDC97;
    
}
.page-404{
    height: 50vh;
}

.return {
        background-color: #f44336;
    
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 50%;
      }

.nav-para{
    background-color: #3DDC97;
}
.reg-btns {
    font-size: small;
    color:black;
    width: 50%;
    background-color: #3DDC97;
    

}
#root {
    margin:0;
    background-color: #E0E0E2;
    font-family: "Lucida Console", "Courier New", monospace;
  
    height: 100vh;
}
.layout-container{
    background-color: #4C2A85;
}

.con-1 {
    max-height:35vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.h1-cols {
    font-size: x-large;
}

.expense-title{
    overflow: hidden;
}
.expense-date{
    font-size: small;
}


.chart-container{
    height: 50%;

}
.main-col-1{
  
    
 
   
}
.green {
    color:  #3DDC97;
}
.main-heading{
    font-size: x-large;
}

.main-col-2{
   
    height: 75vh;
 
}
.bottom-border {
    border-bottom: 1px black solid;
    height: 5vh;
}
.delete-button {
    color:red;
    background-color: #E0E0E2;

    
    border:none
   
    
    
}
.app-inputs {
    background-color: lightgray;
}
.error-messages {
    color: red;
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.delete-button:hover{
    font-size: 120%;
}

.display-text{
    font-size: small;

}
.number-text{
    font-size: smaller;
}
.box-1{
    padding:4%;
    text-align: center;
    background-color:rgba(75, 192, 192, 0.2) ;
    border: solid 2px rgba(75, 192,192,0.2)

}
.box-2{
    padding:4%;
    text-align: center;
    background-color: rgba(255, 99, 132, 0.2);
    border: solid 2px rgba(255, 99, 132, 0.2)
    
}
.box-3{
    padding:4%;
    text-align: center;
    background-color: rgba(255, 205, 86, 0.2);
    border: solid 2px rgba(255, 205, 86, 0.2)
    
}
.toast-body{
    background-color: white;

   
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
   
  }
.spin{
    color:black;
}